@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  background: #0a1621;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  padding-top: 90px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
  border: none;
  width: 100%;
  min-height: auto;
}

.project:last-child {
  margin-bottom: 0;
}

.project__image-wrapper {
  border: 1px solid #fff;
  position: relative;
  width: 100%;
  height: auto;
  color: #d1d3db;
}

.project__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5275a8;
  opacity: 0.15;
}

.project__image {
  width: 100%;
  height: 100%;
  display: block;
}

.project__image-text {
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 2.5rem;
  opacity: 0.7;
}

.project__details {
  padding: 3rem 2.5rem;
  background: #0a1621;
  width: 100%;
  color: #fff;
  border: 1px solid #fff;
  border-top: none;
  position: relative;
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 100;
}

.project__title {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  line-height: 1;
  letter-spacing: 0.12em;
}

.project__description {
  opacity: 0.75;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.project__tech {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.project__tech-item {
  margin-left: 1rem;
  height: 2.5rem;
}

.project__link {
  padding: 0.8rem 1.6rem;
  border: 1px solid #fc7a1e;
  text-decoration: none;
  color: #fff;
  margin-right: 2rem;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.project__link-icon {
  height: 2.2rem;
  margin-right: 1rem;
  display: block;
  float: left;
}

.project__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fc7a1e;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.project__link:hover::after, .project__link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.project__gif {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__list {
  list-style-type: circle;
  opacity: 0.75;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding: 0 3rem;
}

.project__filter-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__filter-title {
  margin-bottom: 3rem;
  font-weight: 400;
  position: relative;
  font-size: 1.5em;
}

.project__filter-button {
  padding: 0.8rem 1.6rem;
  border: 1px solid #6f93b4;
  text-decoration: none;
  color: #fff;
  margin-left: 2rem;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: none;
  cursor: pointer;
}

.project__filter-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #6f93b4;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.project__filter-button:hover::after, .project__filter-button:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.slide__in-enter {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.slide__in-enter-active {
  opacity: 0.8;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  -webkit-transition: opacity 500ms ease-in, -webkit-transform 500ms linear;
  transition: opacity 500ms ease-in, -webkit-transform 500ms linear;
  transition: transform 500ms linear, opacity 500ms ease-in;
  transition: transform 500ms linear, opacity 500ms ease-in, -webkit-transform 500ms linear;
}

.slide__in-enter-done {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=projects.css.map */