// --- COLORS ---
// --- Work ---
$text-color: #fff;
$body-background-color: #0a1621;
$theme-color: #5275a8;
$secondary-color: #6f93b4;
$ternary-color: #d1d3db;
$accent-color: #fc7a1e;

// --- Blog ---
$blog-text-color: #000103;
$blog-body-background-color: #fffffa;
$blog-theme-color: #0091ad;
$blog-secondary-color: #1e3888;
$blog-accent-color: #ff686b;

//--- FONTS ---
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$text-font: "Roboto", Arial, sans-serif;

//--- SIZES ---
$content-width: 960px;
$header-height: 90px;
$footer-height: 90px;
$font-size: 1.6rem;
