@import "../../styles/main.scss";

.blogHeader {
  position: relative;
  min-height: 60vh;
  //   width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/blog_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: $blog-body-background-color;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
  }

  &__title {
    position: relative;
    color: #ffffff;
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;
  }
}
