.content {
  position: relative;
  transition: transform 0.3s 0.1s ease, opacity 0.3s 0.1s ease;
  transform-origin: left;

  &.moved {
    transition: transform 0.3s 0.1s ease, opacity 0.3s 0.1s ease;
    transform: translateX(-50%);
    opacity: 0.5;
  }
}

@media (max-width: 450px) {
  .content.moved {
    transform: translateX(-90%);
  }
}
