@import "../../styles/main.scss";

.about {
  max-width: 90%;
  //   margin-top: -6rem;
  &__image-wrapper {
    height: 30rem;
    width: 30rem;
    float: right;
    overflow: hidden;
    // margin: 1rem;
  }
  &__image {
    width: 100%;
    height: 100%;
    // transform: translateY(-30px);
  }
  &__text {
    display: inline;
    line-height: 1.5;

    &-para {
      display: block;
      margin-bottom: 2rem;
      strong {
        // inline-block to animate transform
        // display: inline-block;
        color: $accent-color;
      }

      //   &:first-child {
      //     margin-top: 6rem;
      //   }
      //   &:last-child {
      //     margin-bottom: 0;
      //   }
    }
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__blog,
  &__github {
    &-link {
      color: $theme-color;
      margin-left: 0.5rem;
    }
  }
}
