@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  background: #0a1621;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  padding-top: 90px;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading__spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading__spinner div {
  -webkit-animation: loading__spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loading__spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.loading__spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fc7a1e;
  margin: -4px 0 0 -4px;
}

.loading__spinner div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.loading__spinner div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.loading__spinner div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.loading__spinner div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.loading__spinner div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.loading__spinner div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.loading__spinner div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.loading__spinner div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.loading__spinner div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.loading__spinner div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.loading__spinner div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.loading__spinner div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.loading__spinner div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.loading__spinner div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.loading__spinner div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.loading__spinner div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

.loading__title {
  text-transform: uppercase;
  margin-top: 4rem;
  font-size: 4rem;
  letter-spacing: 0.12em;
  font-weight: bold;
}

@-webkit-keyframes loading__spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading__spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=loading.css.map */