@import "../../styles/main.scss";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-top: 4rem;
  padding-bottom: 4rem;
  width: 60%;
  margin: 0 auto;
  &:last-of-type {
    padding-bottom: 0;
  }

  &__title {
    letter-spacing: 0.1em;
    margin-bottom: 3rem;
    font-size: 2.5em;
    position: relative;
    z-index: 1;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 35%;
      width: 35px;
      height: 35px;
      background-image: url("../../assets/arrow.svg");
      background-repeat: no-repeat;
      transform: translateY(-15%);
    }
    &::before {
      left: -30px;
    }
    &::after {
      right: -30px;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

// @media (max-width: 1000px) {
//   .section {
//     width: 90%;
//   }
// }

@media (max-width: 550px) {
  .section {
    width: 85%;
  }
  .section__title {
    // margin-bottom: 5rem;
  }
}

@media (max-width: 400px) {
  .section {
    width: 95%;
  }
  .section__title {
    // margin-bottom: 3rem;
  }
}
