@import "../../styles/main.scss";

.footer {
  //   background-color: $theme-color;
  width: 100%;
  height: $footer-height;
  display: flex;
  padding: 15px;
  justify-content: center;

  &__link {
    border: solid 2px $text-color;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;
    height: 4.9rem;
    width: 4.9rem;
    margin-right: 2rem;
    padding: 0.3rem;
    display: inline-block;
    cursor: pointer;
    opacity: 0.9;

    &::after {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      height: 102%;
      width: 102%;
      z-index: -1;
      background: $text-color;
      transform: scaleX(0);
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }

    &-svg {
      fill: $text-color;

      &:hover path {
        fill: $body-background-color;
      }
    }
  }
}

#linkedin {
  height: 3rem;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

#envelope {
  height: 2.4rem;
  margin-left: 0.4rem;
  margin-top: 0.7rem;
}

#pdf {
  height: 3.7rem;
  margin-left: 0.6rem;
  margin-top: 0.1rem;
}
