@import "../../styles/main.scss";

.nav {
  display: flex;
  align-items: center;
  height: 8rem;
  background: $body-background-color;
  padding: 2rem 5rem;
  letter-spacing: 0.12em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 0 5px $theme-color;

  &__title-text {
    font-size: 3rem;
  }

  &__bar {
    display: flex;
    list-style: none;
    right: 0;
    position: absolute;
    margin-right: 0.5em;

    &-item {
      cursor: pointer;
      display: block;
      padding: 0.8rem 1.6rem;
      position: relative;
      background: transparent;
      border-radius: 5px;
      border: 2px solid $accent-color;
      margin-right: 2rem;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: $accent-color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.2s ease;
      }

      &:hover::after,
      &:focus::after {
        transform: scaleX(1);
      }

      &--active {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: $accent-color;
          transform: scaleX(1);
          transform-origin: left;
          transition: transform 0.2s ease;
        }
      }
    }
  }

  &__list {
    font-size: 1.6rem;
    position: absolute;
    padding: 20px 50px;
    right: 0;
    top: 100%;
    max-width: 100%;
    list-style: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.2s 0.1s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;

    &--active {
      opacity: 1;
      transition: opacity 0.3s 0.2s ease-in-out, transform 0.3s 0.1s ease-in-out;
      transform: scaleY(1);
    }

    &-item {
      font-size: 3em;
      letter-spacing: 0.12em;
      cursor: pointer;
      display: block;
      padding: 0.5em;
      position: relative;
      background: transparent;
      color: $text-color;
      border: none;

      &::after {
        content: "";
        position: absolute;
        left: -20px;
        z-index: -1;
        transition: opacity 0.1s linear;
        filter: drop-shadow(2px 2px 5px rgba(237, 159, 75, 0.4));
        transform: rotate(35deg);
        opacity: 0;
      }

      &:hover {
        color: $accent-color;

        &::after {
          opacity: 1;
        }
      }

      &--active {
        color: $theme-color;
      }
    }
  }
}

.burger {
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s all;
  -webkit-tap-highlight-color: transparent;

  &__wrapper {
    display: none;
    position: fixed;
    right: 0;
    margin-right: 2em;
  }

  .burger-lines:after {
    left: 0;
    top: -1em;
  }
  .burger-lines:before {
    left: 1em;
    top: 1em;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
  }
  .burger-lines {
    top: 50%;
    margin-top: -0.125em;
    &,
    &:after,
    &:before {
      pointer-events: none;
      display: block;
      content: "";
      width: 100%;
      border-radius: 0.25em;
      background-color: $text-color;
      height: 0.25em;
      position: absolute;
      transform: rotate(0);
    }
    &:after {
      left: 0;
      top: -1em;
    }
    &:before {
      left: 1em;
      top: 1em;
    }
  }

  &.burger-arrow {
    .burger-lines {
      &,
      &:after,
      &:before {
        transition: 0.2s top, 0.2s left, 0.2s transform,
          0.4s background-color 0.2s;
      }
      &:after,
      &:before {
        width: 2em;
      }
    }

    &.burger-right {
      transform: rotateY(180deg);
      .burger-lines:after {
        left: 1em;
        top: -1em;
      }
      .burger-lines:before {
        left: 0em;
        top: 1em;
      }
    }
    &.open {
      .burger-lines {
        &,
        &:after,
        &:before {
          transition: 0.2s background-color, 0.2s top, 0.2s left, 0.2s transform;
        }
        & {
          background-color: $text-color;
        }
        &:before,
        &:after {
          left: -0.3em;
          top: 0px;
        }
        &:before {
          top: -0.62em;
          transform: rotate(-45deg);
        }
        &:after {
          top: 0.62em;
          transform: rotate(45deg);
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .nav__bar {
    display: none;
  }

  .burger {
    &__wrapper {
      display: block;
    }
  }
}

@media (max-width: 450px) {
  .nav {
    padding: 1rem;
  }
}
